 .canvas {
    background-image: url(empty_trailer.jpg);
    background-size: cover;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat; 
    height: 100%;
    border: solid 4px black;
} 

.canvas-attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}